@media (prefers-reduced-motion: no-preference) {
}


/* MENUPAGE */
.Home {
  text-align: center;
  display: grid;
  height: 100vh;
}

.menu {
  display: grid;
  margin-left: 30px;
  background-color: antiquewhite;
  width: 100px;
  border-radius: 8px;
  justify-content: center;
  height: 100px;
  margin-top: 20px;
}
.homeLink{
  margin-top: 5px;
}
.Home-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

/* BUDGETPAGE */
.budget {
  background-color: #282c34;
  display: grid;
  justify-items: center;
}
.formNeg {
  display: grid;
  justify-content: center;
  justify-items: center;
}
.formPlus {
  display: grid;
  justify-content: center;
  justify-items: center;
}

/* BOOKINGPAGE */
.booking {
  display: grid;
  justify-content: center;
  justify-items: center;
}
.bookingForm {
  display: grid;
  justify-items: center;
}
.calendarBooking {
  margin-top: 30px;
  display: flex;
  width: 500px;
  align-items: center;
  justify-content: space-evenly;
}
.bookingButton {
  margin-top: 30px;
}
.bookingLinks{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 30px;
  margin-bottom: 30px;
  width:800px;
  margin-left: 30px;
}


/* BUKETLISTPAGE */
.activitiesForm {
  display: grid;
  justify-content: center;
  justify-items: center;
}
.buketList {
  display: grid;
  justify-content: center;
}

.mapDiv{
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
